pip==21.1
wheel==0.29.0
cryptography==3.3.2
pyyaml>=4.2b1
face_recognition_models
Click>=6.0
dlib>=19.3.0
numpy
opencv-python
uvicorn
fastapi
sqlalchemy
pydantic
python-multipart
jinja2
httpx
pillow
uvloop
python-multipart